# Compiler files
cache/
out/
artifacts/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# macOS files
.DS_Store

# Local environment
node_modules/
.vscode/

# Anvil logs
anvil_logs/
